@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.cover {
    position: absolute;
    width: 245px;
    height: 250px;
    border: 1px solid #0000cd;
    box-shadow: 0 0 8px 2px rgb(0, 0, 139, 0.5);
    border-radius: 1em;
    padding: 10px;
    margin: 200px 200px;
    position: relative;
    float: right;
    text-align: center;
    /* justify-content: space-around;
    display: flex;
    flex-direction: column; */
}

.head {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5px;
}

/* @media (max-width: 414px) {
  .cover {
    position: relative;
    display: flex;
    flex-direction: column;
  }
} */