@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.cover {
    position: absolute;
    width: 245px;
    height: 250px;
    box-shadow: 0 0 10px 3px rgb(0, 0, 205, 0.5);
    border-radius: 1em;
    padding: 10px;
    margin: 200px 200px;
    position: relative;
    float: right;
    text-align: center;
    /* justify-content: space-around;
    display: flex;
    flex-direction: column; */
}

/* .head {
    justify-content: space-between;
    text-align: center;
} */

.label {
    align-items: left;
}

.login-btn {
    display: inline-block;
    color: white;
    width: 50px;
    height: 30px;
    margin: 50px auto;
    background: #0000cd;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
}

.login-btn:active {
    transform: scale(0.95)
}

.reset {
    font-size: 10px;
}


@media screen and (max-width: 768px) {
    .cover {
        margin: 20px auto;
        float: none;
        width: 55%;
        /* position: center; 
        display: flex;
        flex-direction: column; */
      
    }
  }