.nav-container {
    background-color: #0000cd;
    padding-left: 20px;
    /* height: 45px; */
}

.nav-logo {
    cursor: pointer;
}

.menu-icon {
    width: 40px;
    height: 40px;
    font-size: 38px;
    color: #fff;
    cursor: pointer;
}

.nav-item {
    list-style: none;
    padding-top: 20px;
    width: 50vh;
}

.nav-links {
    color: #fff;
    font-size: 28px;
    padding: 5px;
    text-decoration: none;
}

.nav-links:hover {
    background-color: #a9a9a9;
    border-radius: 10px;
}

.nav-menu {
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 0;
    overflow: hidden;
}

.nav-menu-active {
    height: 100%
}