@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /* background: #00bfff; */
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}

.interchng-text {
    position: relative;
    float: right;
    color: #1a1818;
    margin: 0 0.8vw;
    padding: 0 0.5em;
    width: 40vw;
    height: 520px;
    text-align: center;
}

.interchng-text p {
    position: relative;
    font-family: 'Playfair Display SC';
    margin: 19vw 2%;
    font-weight: 700;
    /* font-size: 30px; */
    font-size: 2.5vw;
    color: #1a1818;
}

.interchng-text img {
    position: absolute;
    background-color: transparent;
    margin: 0.5em -10vw;
    width: 20vw;
    height: auto;
}

.img-container {
    position: relative;
    width: 58.5vw;
    height: 93.5vh;
    overflow: hidden;
    clip-path: polygon(0% 0%,70% 0%,90% 30%,60% 100%,0% 100%);
    /* transition: all 0.5s ease; */
}

.bg-light {
    position: absolute;
    background-color: #fff000;
    width: 63.5vw;
    height: 100.5vh;
    overflow: hidden;
    clip-path: polygon(0% 0%,71% 0%,90% 30%,60% 100%,0% 100%);
    /* transition: all 0.5s ease; */
}

.bg-dark {
    position: absolute;
    background-color: #0000cd;
    width: 62.5vw;
    height: 100.5vh;
    overflow: hidden;
    clip-path: polygon(0% 0%,65% 0%,90% 40%,60% 120%,0% 120%);
    /* transition: all 0.5s ease; */
}

.img-container img {
    left: -0.4em;
    position: absolute;
    width: 53vw;
    height: 120vh;
    object-fit: cover;
    /* transition: all 0.5s ease; */
}  

.login-port {
    position: absolute;
    margin: -3.5vw 89vw;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins, sans-serif';
    font-size: 3vw;
}

.aims-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 115vh;
    /* margin: 0 1em; */
    padding: 0 1em;
    /* width: 96.5vw; */
    width: 100%;
    border: 3px solid #0000cd;
}

.aims-container p {
    font-size: 1.5vw;
    color: #1a1818;
}

.students-container {
    display: flex;
    flex-direction: column;
    margin: 0 7vw;
    width: 75vw;
    font-size: 1.5vw;
    border: 3px solid #0000cd;
}

/* @media screen and (max-width: 598px) {
    .aims-container {
        top: 115vh;
        width: 100%;
    }
} */

@media screen and (max-width: 425px)   {
    .aims-container {
        /* top: 2050px; */
        /* top: 165vh; */
        margin: 50vh 0;
        width: 100%;
    }

    .aims-container p {
        font-size: 3vw;
    }

    .students-container {
        font-size: 3vw;
    }

    .login-port {
        margin: -6vw 87vw;
        font-size: 4vw;
    }

    .img-container {
        width: 94%;
        height: 95%;
        /* transition: all 0.5s ease; */
    }

    .bg-light {
        width: 100%;
        height: 65%;
        /* transition: all 0.5s ease; */
    }

    .bg-dark {
        width: 100%;
        height: 100%;
        /* transition: all 0.5s ease; */
    }

    .img-container img {
        width: 92%;
        height: 120%;
        /* transition: all 0.5s ease; */
    }

    .interchng-text {
        position: absolute;
        top: 68vh;
        margin-left: 2vw;
        width: 96vw;
    }

    .interchng-text img {
        width: 40vw;
        min-width: 100px;
        margin: 0 -19vw;
    }

    .interchng-text p {
        top: 16vw;
        font-size: 6vw;
    }
   
}

/*******************************************************************************************/

.cover {
    position: relative;
    width: 350px;
    height: 370px;
    box-shadow: 0 0 10px 3px rgb(0, 0, 205, 0.5);
    border-radius: 1em;
    padding: 10px;
    margin: 160px 170px;
    float: right;
    text-align: center;
    font-size: 28px;
    background-color: #fff;
    color: #1a1818;
}

.login-input {
    position: relative;
    font-size: 18px;
    padding: 5px;
    border-radius: 0.5em;
    background-color: transparent;
}


.login-input:focus {
    border: 3px solid #0000cd;
}

.login-btn {
    display: inline-block;
    color: white;
    width: 90px;
    height: 40px;
    margin: 10px auto;
    background: #0000cd;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
}

.login-btn:active {
    transform: scale(0.95)
}

.pass-btn {
    position: absolute;
    right: 70px;
    top: 154px;
    transform: translateX(10%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reset {
    font-size: 14px;
    margin-top: 5px;
}

#failed {
    font-size: 14px;
    color: #ff0000;
    /* margin-top: 5px; */
}

#success {
    font-size: 14px;
    color: #0000cd;
}  

@media screen and (max-width: 523px) {
    body{
        width: 100%;
        height: 100%;
    }

    .cover {
        margin: 0 auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        display: flex;
        flex-direction: column;
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 15%;
        top: 154px;
    }

  }

  @media screen and (min-width: 524px) and (max-width: 747px) { /*768*/
    body {
        width: 100%;
        height: 100%;

    }
    .cover {
        margin: 40px auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        /* display: flex;
        flex-direction: column; */
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 12%;
        top: 114px;
    }

  }