@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #00bfff;
    font-family: 'Poppins', sans-serif;
    background-size: cover;

    /* background: linear-gradient(184deg, #0000cd, #00bfff, #fff000);
    background-size: 400% 400%;

    -webkit-animation: animate 15s ease infinite;
    -moz-animation: animate 15s ease infinite;
    animation: animate 15s ease infinite; */
}

/* @-webkit-keyframes animate {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes animate {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes animate {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
} */

.interchng-text {
    position: relative;
    float: right;
    margin: 35px 125px;
    padding: 20px;
    width: 400px;
    height: 620px;
    text-align: center;
    overflow: hidden;
}

.interchng-text p{
    position: relative;
    font-family: 'Playfair Display SC';
    margin: 210px 0;
    font-weight: 700;
    font-size: 30px;
    color: #1a1818;
}

.interchng-text img {
    position: absolute;
    background-color: transparent;
    margin: -25px -120px;
    width: 250px;
    height: 250px;
}

.cover {
    position: relative;
    width: 350px;
    height: 370px;
    box-shadow: 0 0 10px 3px rgb(0, 0, 205, 0.5);
    border-radius: 1em;
    padding: 10px;
    margin: 160px 170px;
    float: right;
    text-align: center;
    font-size: 28px;
    background-color: #fff;
    color: #1a1818;
    /* filter: blur(5px); */
    /* justify-content: space-around;
    display: flex;
    flex-direction: column; */
}

.login-input {
    position: relative;
    font-size: 18px;
    padding: 5px;
    border-radius: 0.5em;
    background-color: transparent;
}

/* .login-input input[type = 'password'] {
    padding-right: 36px;
} */

.login-input:focus {
    border: 3px solid #0000cd;
}

.login-btn {
    display: inline-block;
    color: white;
    width: 90px;
    height: 40px;
    margin: 10px auto;
    background: #0000cd;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
}

.login-btn:active {
    transform: scale(0.95)
}

.pass-btn {
    position: absolute;
    right: 70px;
    top: 154px;
    transform: translateX(10%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reset {
    font-size: 14px;
    margin-top: 5px;
}

#failed {
    font-size: 14px;
    color: #ff0000;
    /* margin-top: 5px; */
}

#success {
    font-size: 14px;
    color: #0000cd;
}

.img-container {
    position: absolute;
    background-color: transparent;
    width: 115vh;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0% 0%,70% 0%,90% 30%,60% 100%,0% 100%);
}

.bg-blue {
    position: absolute;
    background-color: #fff000;
    /* width: 60%; */
    width: 123vh;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0% 0%,71% 0%,90% 30%,62% 100%,0% 100%);
}

.bg-light {
    position: absolute;
    background-color: #0000cd;
    /* width: 60%; */
    width: 123vh;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0% 0%,65% 0%,90% 40%,62% 100%,0% 100%);
}

.img-container img {
    position: absolute;
    width: 90%;
    height: 125%;
}

/* .triangle-image {
    position: absolute;
    left: -50px;
    top: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
} */
  
/* .blur-image {
    filter: blur(0px);
} */
  


@media screen and (max-width: 523px) {
    body{
        width: 100%;
        height: 100%;
    }

    .cover {
        margin: 0 auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        display: flex;
        flex-direction: column;
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 15%;
        top: 154px;
    }

    .img-container {
        display: none;
    }
  }

  @media screen and (min-width: 524px) and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;

    }
    .cover {
        margin: 40px auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        /* display: flex;
        flex-direction: column; */
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 12%;
        top: 114px;
    }
  }