@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #00bfff;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 30px 20px;
    /* height: 100%; */
    gap: 50px;
    border: 2px solid #1a1818;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    max-width: 20em;
    min-width: 13em;
    height: 65vh;
    min-height: 16em;
    max-height: 17em;
    box-shadow: 0 0 10px 3px rgb(105, 105, 105, 0.5);
    border-radius: 1em;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    background-color: #fff;
    color: #1a1818;
}

.csims-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.cmi-logo {
    margin-left: -5px;
}

.csims {
    margin-top: -12px;
    margin-left: -10px;
    font-size: 16pt;
    text-align: start;
    color: #1a1818;
}

.cmi-img {
    width: 5em;
    margin-top: 0px;
}

.form-container {
    margin-top: -12px;
}

.login-input {
    width: 25vw;
    min-width: 16em;
    font-size: 18px;
    padding: 5px;
    border-radius: 0.5em;
    background-color: transparent;
}


.login-input:focus {
    border: 3px solid #0000cd;
}

.login-btn {
    display: inline-block;
    color: white;
    width: 90px;
    height: 40px;
    margin: 30px auto;
    background: #0000cd;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
}

.login-btn:active {
    transform: scale(0.95)
}

.pass-btn {
    position: absolute;
    right: 70px;
    top: 154px;
    transform: translateX(10%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reset {
    font-size: 14px;
    margin-top: 5px;
}

#failed {
    font-size: 14px;
    color: #ff0000;
    /* margin-top: 5px; */
}

#success {
    font-size: 14px;
    color: #0000cd;
}  

.create-csims {
    display: flex;
    flex-direction: column;
    border: 2px solid #0000cd;
}



@media screen and (max-width: 425px) {
    .main-container {
        margin: 0;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .cover {
        margin: 50px auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        display: flex;
        flex-direction: column;
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 15%;
        top: 154px;
    }

  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cover {
        margin: 40px auto;
        float: none;
        width: 80%;
        height: auto;
        position: center; 
        /* display: flex;
        flex-direction: column; */
      
    }

    .login-input {
        width: 85%;
    }

    .pass-btn {
        right: 12%;
        top: 154px;
    }

  }